[main]
# Default archiving path for archsight
archive_source = /opt/arcsight/logger/data/archives

# Chose your destination
archive_destination = /opt/arcsight/logger/data/archives_backup


# Archsight considered 200G as max archiving size(disk usage) by default
max_src_disk_usage = 153600

# Mximum disk usage for backup folder
max_dst_disk_usage = 409600

# Keep last N days and more the older backup folders to backup
keep_last_days = 20

# Log file
log_file = arcsight_archiver.log


[notifications]
mail_server  = mail.domain.gov.sa
username     = arcsight@domain.gov.sa
password     = 123123
to_email     = sss@domain.gov.sa
cc_email     = bbb@domain.gov.sa,ccc@domain.gov.sa


